@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">@User.Identity.GetUserName()<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Gigs I`m Going</a></li>
                <li><a href="#">Artists I`m Following</a></li>
                <li role="separator" class="divider"></li>
                <li>@Html.ActionLink("View Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>

            </ul>
            </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
