@model MVC_5_BlogTamplate.ViewModel.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="fixWidth" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Artist, date, Genre", Type = "search" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}
<ul class="gigs vertical-offset4">
    @foreach (var gig in Model.Gigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">

                    @Html.ActionLink(gig.Artist.Name, "Details", "Gigs", new { id = gig.Id }, null)

                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                    @if (Model.ShowAction && !gig.IsCanceled)
                    {
                        <button class="btn @(Model.Attendences.Contains(gig.Id)?"btn-info":"btn-default")  btn-sm pull-right js-toggle-attendence" data-gigId="@gig.Id">Going</button>
                    }
                </span>

            </div>

        </li>
    }
</ul>

@section scripts
{@Scripts.Render("~/bundles/homeindex")}